select {
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

.swiper-image {
    box-shadow: none;
    transition: box-shadow 0.3s ease;
}

.swiper-slide:hover .swiper-image {
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.5);
}

@media (min-width: 1024px) {
    .demo {
        height: 100px;
        overflow: hidden;
        transition: height 0.3s ease;
    }

    .demo[data-expanded="true"] {
        height: 280px;
    }
}